
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}

<input type="hidden" id="scId" , name="scId" value="@ViewBag.SCID" />
<blockquote class="layui-elem-quote quoteBox">

    <div class="layui-inline">
        <div class="layui-input-inline">
            <input type="text" class="layui-input searchVal" id="time" placeholder="请输入时间检索">
        </div>
    </div>
    @{
        Html.RenderPartial("~/Views/Shared/_PartialMainButton.cshtml", (List<DbMonitor.Domain.Authority>)ViewBag.Authority);
    }
</blockquote>
<table id="datatable" lay-filter="table"></table>
<script type="text/html" id="barDemo">
    @{
        Html.RenderPartial("~/Views/Shared/_PartialToolbarButton.cshtml", (List<DbMonitor.Domain.Authority>)ViewBag.Authority);
    }
</script>
<script>
    //console.log("页面数据");
    window.tableConfig = {
        elemSelector: "#datatable",
        tableID: "dt",
        colConfig: [[{ type: 'checkbox', fixed: 'left' }
                  , { field: 'INSTANCE_NAME', title: '实例名称', sort: true }
                  , { field: 'HOST_NAME', title: '主机名称', sort: true }
                  , { field: 'VERSION', title: '数据库版本', sort: true }
                  , { field: 'STARTUP_TIME', title: '启动时间', sort: true }
                  , { field: 'STATUS', title: '实例状态', sort: true }
                  , { field: 'DATABASE_STATUS', title: '数据库状态', sort: true }
                  , { field: 'CreationTime', title: '记录时间', sort: true }
                ]],
        dataInterface: "@Url.Action("List", @ViewBag.Controller)",
        where: { scId: '@ViewBag.SCID' },
        afterRender: function (table, layer, form) {
            layui.use('laydate', function () {
                var laydate = layui.laydate;
                //执行一个laydate实例
                laydate.render({
                    elem: '#time' //指定元素
                    , type: 'datetime'
                });
            });
        }
    };
    window.dataOperation = {
        moreAcive: {
            search: function (table, layer) {
                table.reload(tableConfig.tableID,//ID
                    {
                        where: { //设定异步数据接口的额外参数，任意设
                            time: $("#time").val()
                        },
                        page: {
                            curr: 1
                        }
                    });
            }
        },
        createConfig: {
        },
        deleteConfig: {
        },
        editConfig: {
        }
    };    
</script>