
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}

<input type="hidden" id="scId" , name="scId" value="@ViewBag.SCID" />
<blockquote class="layui-elem-quote quoteBox">

    <div class="layui-inline">
        <div class="layui-input-inline">
            <input type="text" class="layui-input searchVal" id="user" placeholder="请输入用户名检索">
        </div>
        <div class="layui-input-inline">
            <input type="text" class="layui-input searchVal" id="obj" placeholder="请输入对象名检索">
        </div>
        <div class="layui-input-inline">
            <input type="text" class="layui-input searchVal" id="operation" placeholder="请输入操作类型检索">
        </div>
    </div>
    @{
        Html.RenderPartial("~/Views/Shared/_PartialMainButton.cshtml", (List<DbMonitor.Domain.Authority>)ViewBag.Authority);
    }
</blockquote>
<table id="datatable" lay-filter="table"></table>
<script type="text/html" id="barDemo">
    @{
        Html.RenderPartial("~/Views/Shared/_PartialToolbarButton.cshtml", (List<DbMonitor.Domain.Authority>)ViewBag.Authority);
    }
</script>
<script>
    //console.log("页面数据");
    window.tableConfig = {
        elemSelector: "#datatable",
        tableID: "dt",
        colConfig:  [[{ type: 'checkbox', fixed: 'left' }
                    , { field: 'USERNAME', title: '用户名', sort: true }
                    , { field: 'ROLENAME', title: '角色名', sort: true }
                    , { field: 'IP', title: 'IP地址', sort: true }
                    , { field: 'SCHNAME', title: '模式名', sort: true }
                    , { field: 'OBJNAME', title: '对象名', sort: true }
                    , { field: 'OPERATION', title: '操作类型', sort: true }
                    , { field: 'SUCC_FLAG', title: '是否成功', sort: true }
                    , { field: 'SQL_TEXT', title: 'SQL文本', sort: true }
                    , { field: 'OPTIME', title: '操作时间', sort: true }
                ]],
        dataInterface: "@Url.Action("List", ViewBag.Controller)",
        where: { scId: '@ViewBag.SCID' }
    };
    window.dataOperation = {
        moreAcive: {
            search: function (table, layer) {
                table.reload(tableConfig.tableID,//ID
                    {
                        where: { //设定异步数据接口的额外参数，任意设
                            user: $("#user").val(),
                            obj: $("#obj").val(),
                            operation: $("#operation").val(),
                            scId: $("#scId").val()
                        },
                        page: {
                            curr: 1
                        }
                    });
            }
        },
        createConfig: {
        },
        deleteConfig: {
        },
        editConfig: {
        }
    };
</script>