
@{
    ViewBag.Title = "ModifyPassword";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
}
<style>
    body{
        padding:10px;
    }
</style>
<form class="layui-form layui-form-pane">
    <div class="layui-form-item">
        <label class="layui-form-label">旧密码</label>
        <div class="layui-input-block">
            <input type="password" name="oldpwd" placeholder="请输入旧密码" autocomplete="off" class="layui-input" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-block">
            <input type="password" name="newpwd" placeholder="请输入新密码" autocomplete="off" class="layui-input" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-block">
            <input type="password" name="newpwdrepeat" placeholder="请再次输入新密码" autocomplete="off" class="layui-input" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    layui.use('form', function () {
        var form = layui.form;
        var layer = layui.layer;
        //监听提交
        form.on('submit(formDemo)', function (data) {
            //data.field是一个对象
            if (data.field.newpwd != data.field.newpwdrepeat) {
                layer.msg("新密码不一致", { icon: 5 });
                return false;
            }
            var jsonData = JSON.stringify(data.field);
            var $ = layui.$;
            var url = '@Url.Action("ModifyPassword", "Account")';
            $.post(url,
                data.field, function (res) {
                    var objRes = JSON.parse(res);
                    if (objRes.status == 0) {
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.modifyPwdOk();
                        parent.layer.close(index); //再执行关闭                        
                        //layer.msg("修改成功", { icon: 4 });
                    } else {
                        layer.alert(objRes.message, { icon: 5 });
                    }
                }, "json");
            return false;
        });
        //设置表单数据
        if (typeof setForm == "function")
            setForm(form);
    });
</script>
