<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/Scripts/layui/css/layui.css" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            margin: 10px;
        }
        .layui-input-block .layui-input{
            width: 500px;
        }
    </style>
</head>
<body>
    <form class="layui-form layui-form-pane">
        @RenderBody()
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        layui.use('form', function () {
            var form = layui.form;
            var layer = layui.layer;
            //监听提交
            form.on('submit(formDemo)', function (data) {
                //data.field是一个对象
                var jsonData = JSON.stringify(data.field);
                var $ = layui.$;
                var url = $("#action").val();
                $.post(url,
                    data.field, function (res) {
                        var objRes = JSON.parse(res);
                        if (objRes.status == 0) {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                            parent.refreshList();
                            
                        } else {
                            layer.alert(objRes.message, { icon: 5 });
                        }
                    }, "json");
                return false;
            });
            //设置表单数据
            if (typeof setForm == "function")
                setForm(form);
        });
        
    </script>
</body>
</html>
