<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" charset="utf-8">
    <link rel="stylesheet" href="~/Scripts/layui/css/layui.css">
    <title>@ViewBag.Title</title>
    <style>
        .skin-red .layui-elem-quote {
            border-left: 5px solid #E30000;
        }
         /*格式分页样式*/
        .skin-red .layui-laypage a:hover {
            color: #E30000;
        }
        .skin-red .layui-laypage .layui-laypage-curr .layui-laypage-em {
            background-color: #E30000;
        }
        /*选项卡样式*/
        .skin-red .layui-tab-brief>.layui-tab-title .layui-this {
        color: #E30000;
        }
        .skin-red .layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {
            border-bottom-color:#d50000;
        }
    </style>
</head>
<body class="skin-red">
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/local/extension.js"></script>
    @RenderBody()
</body>
</html>
