
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
}

    <style>
        .layui-tab-content{
            position: absolute;
            bottom: 3px;
            top: 60px;
            right: 0;
            left: 0;
            padding:0;
        }
        .layui-tab-content .layui-tab-item{
            height:100%;
        }
        .layui-tab-content iframe{
            width: 100%;
            height: 100%;
            border: 0;
        }
    </style>

    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this" data-src="/OrStatementAudit/Index/@ViewBag.SCID">语句审计</li>
            <li data-src="/OrPrivilegeAudit/Index/@ViewBag.SCID">权限审计</li>
            <li data-src="/OrObjectAudit/Index/@ViewBag.SCID">对象审计</li>
            @*<li data-src="/OrAuditPolicy/Index/@ViewBag.SCID">细粒度审计</li>*@
        </ul>
        <div class="layui-tab-content">
            <iframe name="content" src="~/OrStatementAudit/Index/@ViewBag.SCID"></iframe>
        </div>
    </div>
    <script>
        //layui.use('element', function () {

        //});
        $(".layui-tab-title li").each(function (index, domEle) {            
            $(domEle).on("click", function () {
                if ($(this).hasClass("layui-this")) return;
                $(".layui-tab-title .layui-this").removeClass("layui-this");
                $(this).addClass("layui-this");

                var url = $(this).data("src");
                var w = window.frames["content"];
                var host = "http://" + document.location.host;
                w.location.replace(host + url);
            })
        })
    </script>
