
@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
}
<style>
    body {
        background-color: #f2f2f2;
    }

    .tips-body {
        margin-top: 30px;
        text-align: center;
        padding: 15px;
    }

        .tips-body .layui-icon {
            font-size: 300px;
            color: #393D49;
        }

        .tips-body .tips-text {
            width: 500px;
            margin: 30px auto;
            padding-top: 20px;
            border-top: 5px solid #009688;
            font-size: 16px;
        }

    .tips-text h1 {
        font-size: 100px;
        line-height: 100px;
        color: #009688;
    }

        .tips-text h1 > span {
            display: inline-block;
        }

    .tips-text p {
        font-size: 20px;
        font-weight: 300;
        color: #999;
    }
</style>
<div class="tips-body">
    <i class="layui-icon layui-icon-face-surprised"></i>
    <div class="tips-text">
        <h1>
            <span>4</span>
            <span class="layui-anim layui-anim-loop layui-anim-rotate">0</span>
            <span>4</span>
        </h1>
        <p>页面跑去火星了...</p>
    </div>
</div>

